<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="top-header-marco">
            </div>
        <div class="top-header">
            <a href="/"><img class="logo" src="./img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>

            <div class="buscador">
                <div class="input">
                    <div class="lupa"><i class="fa fa-search"></i></div>
                    <input type="text" placeholder="Buscar productos, marcas">
                </div>
            </div>


            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>

                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>

                <li>
                    <a href="#">Vender</a>
                </li>

                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="register">Creá tu cuenta</a>
                </li>

                <li>
                    <a href="login">Ingresá</a>
                </li>

                <li>
                    <a href="#">Mis compras</a>
                </li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
<main>
    <section class="login-box">
        <form action="">
            <h2>Iniciar Sesión</h2>
            <div class="input-box">
                <span class="icono">
                    <i class="fa-solid fa-envelope"></i>
                </span>
                <input type="text" required>
                <label>Correo electrónico</label>
            </div>
            <div class="input-box">
                <span class="icono">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar">
                <label><input type="checkbox">Recordar</label>
            </div>
            <button type="submit">Ingresar</button>
            <div class="registrar_link">
                <p>¿No tenés una cuenta? <a href="/registro">Registrate</a></p>
            </div>
        </form>
    </section>
</main>
<footer>
</footer>
</body>
</html> 