*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

/* HEADER */

header {
    background-color: #EAC926;
    width: 100vw;
    padding: 20px;
}
.main-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} 

.top-header .logo {
    margin: 0 auto;
}

.top-header a {
    width: 25%;
    padding: 5px;
    display: flex;
    justify-content: left;
}

.top-header p{
    font-size: 15px;
    display: block;
    text-align: center;

}
header p {
    text-align: center;
}

header nav {
    display: none;
}

header nav a {
    text-decoration: none;
    color: #000;
    list-style-type: none;
    font-size: 1px;
}

header nav ul li {
    list-style: none;
}

header nav ul {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 38%;
}

/* barra de busqueda */
.buscador .input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    background-color: #f2f2f2;
    display: flex;
}
.buscador input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #f2f2f2;
    display: flex;
}
/* lupa */
.buscador .lupa i {
    background-color: white;
    border:  transparent;
    color: #666;
}
.buscador {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 5px;
    flex: 1;
    position: relative;
}
header div.burger-menu i {
    color: #fff;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

header div.burger-menu {
    text-align: center;
}

header{
    width: 100vw;
}

.banner-img{
    width: 100vw;
}
/* MAIN */
main {
    margin: 0 auto;
    width: 90vw;
}

main section article {
    margin-bottom: 10px;
    transition: 0.7s;
}
main section article img {
    width: 100%;
}


.info-article {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    transition: 0.7s;
    
}

.precio {
    width: 30%;
}
.descuento {
    width: 70%;
}
main section article div i {
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 0.7s;
}


.desc-prod {
    display: none;
    transition: all 0.7s;
}


footer {
    display: flex;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

footer .pay {
    padding: 30px;
}

footer .shipping {
    padding: 30px;
}

footer .security {
    padding: 30px;
}

footer .copyright {
    padding: 30px;
}

.pay i {
    color: #fff;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}
.shipping i{
    color: #fff;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

.security i {
    color: #fff;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

.copyright {
    justify-content: center;
    display: flex;
}

/************************REGISTRO*****************************************/
.formularios-registro {
    border: 1px solid #ebebeb;
    border-radius: 5%;
    padding: 20px;
    width: 40vh;
    margin: 0 auto;
    background-color: #ebebeb;
  }
  
  .formularios-registro div {
    margin-bottom: 20px;
  }
  
  .formularios-registro label {
    display: block;
    font-size: 1em;
    color: #1c232a;
    margin-bottom: 5px;
  }
  
  .formularios-registro input[type="text"],
  .formularios-registro input[type="email"],
  .formularios-registro input[type="password"],
  .formularios-registro input[type="date"] {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #1c232a;
    border-radius: 5px;
  }
  
  .formularios-registro input[type="radio"],
  .formularios-registro input[type="checkbox"] {
    margin-top: 2px;
    vertical-align: middle;
  }
  
  .formularios-registro input[type="file"] {
    margin-top: 10px;
  }
  
  .formularios-registro button[type="submit"],
  .formularios-registro button[type="reset"] {
    width: 100%;
    height: 40px;
    background-color: #1259c3;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #f1f1f1;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 10px;
  }
  .formularios-registro label {
    display: inline-block;
    width: 160px;
    font-size: 1em;
    color: #1c232a;
    margin-bottom: 5px;
  }
  .formularios-registro div {
    display: flex;
    align-items: center;
  }
  .formularios-registro button[type="reset"] {
    background-color: #ebebeb;
    color: #1c232a;
  }



/*******************************************LOGIN*************************************************************************/

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
.login-box h2 {
    font-size: 2em;
    color: #1c232a;
    text-align: center;

}
.login-box form {
  border: 1px solid #ebebeb;
  border-radius: 5%;
  padding: 20px;
  width: 40vh;
  margin: 0 auto;
  background-color: #ebebeb
}
.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #1c232a;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #1c232a;
    pointer-events: none;
    transition: 300ms;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #1c232a;
    padding: 0 35px 0 5px;
}
.login-box button {
    width: 100%;
    height: 40px;
    background: #1259c3;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #f1f1f1;
    font-weight: 500;
    transition: 0.3s;
}
.recordar {
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #1c232a;
    display: flex;
    justify-content: space-between;
}

.recordar label input {
    margin-right: 3px;
}

.recordar a {
    color: #1c232a;
    text-decoration: none;
    transition: 300ms;
}

.recordar a:hover {
    text-decoration: underline;
}
.registrar_link {
    font-size: 0.9em;
    color: #1c232a;
    text-align: center;
    margin: 25px 0 10px;
}

.registrar_link p a {
    color: #1c232a;
    text-decoration: none;
    font-weight: 600;
}

.registrar_link p a:hover {
    text-decoration: underline;
}

@media (min-width: 350px) {
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .desc-prod {
        display: block;
    }
    header .top header a {
        display: flex;
        justify-content: left;
        width: 25%;
        padding: 10px;
    }
    header .top-header p {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .top-header.buscador {
        width: 20%;
    }
    .top-header .logo {
        width: 90vw;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    main section article {
        width: 45%;     
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    nav ul li {
        display: none;
    }
    footer {
        display: block;
    }
}
@media (min-width: 400px) {
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .desc-prod {
        display: block;
    }
    header .top header a {
        display: flex;
        justify-content: left;
        width: 25%;
        padding: 10px;
    }
    header .top-header p {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin: 0 auto;
    }
    .top-header.buscador {
        width: 20%;
        display: flex;
        justify-content: center;
    }
    .top-header .logo {
        width: 90vw;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    main section article {
        width: 45%;     
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    nav ul li {
        display: none;
    }
    footer {
        display: block;
    }
}

@media (min-width: 769px) {
    main section article {
        width: 22.5%;
    }
    main section h3 {
        padding: 50px;
    }
    header nav ul li a{
        font-size: 18px;
        padding: 15px;
    }
    .desc-prod{
        display: none;
    }
    .burger-menu {
        display: none;
    }
    article {
        padding: 10px;
    }
    .top-header .logo {
        width: 55%;
        padding: 10px;
        display: flex;
    }
    .top-header.buscador {
        width: 1px;
        display: none;
        justify-content: center;
    }
    .top header a {
        display: flex;
        justify-content: left;
        width: 25%;
    }
    header .top-header p {
        display: flex;
        justify-content: center;
        width: 25%;
    }
    article:hover .desc-prod{
        display: block;
    }
    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    article:hover i {
        transform: rotate(-90deg);
    }
    nav ul li {
        display: flex;
        justify-content: center;
    }
    footer {
        display: flex;
    }
    footer .pay:hover i{
        transform: translateY(-10px);
    }
    footer .shipping:hover i{
        transform: translateY(-10px);
    }
    footer .security:hover i{
        transform: translateY(-10px);
    }

    

    
}



